html,
body {
    margin: 0 auto;
    overflow: hidden;
    user-select: none;
    cursor: url(img/cursor-4x4.png) 2 2, auto;
}

.stats {
    > * {
        display: block;
        text-align: right;
    }

    position: fixed;
    display: block;
    padding: 0 4px;
    right: 0;
    color: rgba(255, 255, 255, 0.5);
    // background: #333;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
